
<nav class="navbar navbar-expand-lg align-items-center">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">To-Do App</a>
      <div class="navbar-collapse ">
        <ul class="navbar-nav mx-auto order-0">
          <li class="nav-item px-5 border">
            <a class="nav-link active"href="#" (click)="onSelected('todo')">ToDos</a>
          </li>
          <li class="nav-item px-5 border">
            <a class="nav-link" href="#" (click)="onSelected('detail')">Details</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>